/* FOOTER */
footer {
  width: 100%;
  /* height: 130px; */
  background-color: #d3d3d3;
  display: flex;
  padding: 10px;
}

.footer-container {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

#github-icon {
  font-size: 1.4rem;
  padding: 10px;
  cursor: pointer;
}

#github-icon:hover {
  color: #2dba4e;
}

#linkedin-icon {
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
}

#linkedin-icon:hover {
  color: #0e76a8;
}

#instagram-icon {
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
}

#instagram-icon:hover {
  color: #c13584;
}

.copyright {
  font-size: 0.9rem;
  letter-spacing: 5px;
  margin-top: 10px;
}

.rights {
  font-size: 0.8rem;
  margin-top: 10px;
}
/* FOOTER */
