/* MEDIA QUERIE */

@media (max-width: 1280px) {
    .about-me-container, .about-me{
      height: 80vh;
    }
  
  }
  
  @media screen and (max-width: 1024px){
  
    .greeting-container{
      margin-top: 50px;
      padding: 0 20px;
    }
  
    .about-me-container{
      height: 100vh;
    }
  
    .about-me{
      height: 100vh;
      display: flex;
      flex-direction: column;
    }
  
    #about-me-title{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
    }
  
    .cv{
      margin-top: 30px;
    }
  
    #about-me-text {
      width: 90%;
    }
  
    .wrapper{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 50px;
    }
  
  
  }
  
  @media screen and (max-width: 850px){
    .greeting-container{
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
  
    .greeting-photo{
      width: 90%;
    }
  
    .greeting{
      width: 90%;
      row-gap: 20px;
    }
  
    #about-me-title{
      width: 100%;
    }
  
    #about-me-title span{
      font-size: 1.8rem;
    }
  
    .wrapper{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }
  
    .contato{
      height: auto;
    }
  
    .contato-cards{
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      gap: 50px;
      margin-top: 70px;
    }
  
    .social-cards:hover{
      scale: 1;
    }
  }
  
  
  @media screen and (max-width: 600px){
  
    .greeting-photo img{
      width: 300px;
    }
  
    .greeting h1{
      font-size: 1.5rem;
    }
  
    .about-me{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .cv button a{
      font-size: 1rem;
    }
  
    #about-me-title {
      width: 100%;
    }
  
    #about-me-title span{
      font-size: 1.5rem;
      text-align: center;
    }
  
    #about-me-text{
      font-size: 1.3rem;
      text-align: center;
    }
  
    .knowledge-cards{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  
    .contato{
      width: 100%;
    }
  }
  
  
  @media screen and (max-width: 430px){
  
    .floating{
      display: none;
    }
  
    .greeting-container{
      height: auto;
    }
  
    .greeting h1{
      font-size: 1.2rem;
    }
  
    .greeting h3{
      font-size: 0.8rem;
    }
  
    .greeting-photo img{
      width: 200px;
    }
  
    .about-me-container, .about-me{
      height: auto;
    }
  
    .cv button a{
      font-size: 0.8rem;
    }
  
    #about-me-title span{
      font-size: 1.4rem;
      text-align: center;
    }
  
    #about-me-text{
      font-size: 1rem;
      width: 100%;
    }
  
    .knowledge-container{
      height: auto;
    }
  
    .knowledge h3{
      font-size: 1.5rem;
      text-align: center;
    }
  
    .knowledge-cards{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
  
    .image, .image img{
      width: 320px;
      height: auto;
    }
  
    .project-text p{
      font-size: 0.8rem;
    }
  
  
    .project-text button span{
      font-size: 0.8rem;
    }
  
    .cards i {
      font-size: 3rem;
    }
  
    .contato h3{
      font-size: 1.6rem;
      text-align: center;
    }
  }